@page "/github"

@using Microsoft.Extensions.Logging

@inject ILogger<Pages.GitHub> Logger

<h1>GitHub</h1>

<EditForm Model="@ngc" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @* 
    <InputText id="nuget_id" @bind-Value="nc.Name" />
     *@
    <InputText 
        id="github_tag" @bind-Value="search_github_tag"
        >
    </InputText>>

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@
@code 
{
    GitHubClient.HttpClient = Tests.CommonShared.Http.Client;
    GitHubClient ghc = new GitHubClient();

}
